// UTILITY -----------------------------------------------
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

// backgrounds
$jumbotron-back: "../backgrounds/back.jpg";
$digital-art-back: "../backgrounds/back-2.jpg";
$digital-art-video-back: "../backgrounds/back-3.jpg";
$digital-art-bottom-back: "../backgrounds/back-4.png";

// colors
$main-dark-color: #101010;
$main-light-color: #989898;
$main-medium-color: #333333;
$icons-button-color: #009cff;
$secondary-color: #bc54be;
.c-white{
  color: #fff;
}

// mixins
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// -------------------------------------------------------

// HEADER ------------------------------------------------
header{
  height: 100px;
  background: $main-dark-color;

  .header-container{
    width: 1000px;
    margin: 0 auto;

    // header top --------------------------------
    &-top{
      text-align: right;
      padding: 10px;

      a{
        color: $main-light-color;
        padding: 0 10px;
        font-size: 10px;

        i{
          color: $icons-button-color;
          margin-right: 3px;
          font-size: 12px;
        }
      }

      select{
        font-size: 12px;
      }
    }
    // header top --------------------------------

    // header bottom -----------------------------
    &-bottom{
      padding: 5px 0 10px 0;

      div{
        display: inline-block;

        a{
          margin-right: 25px;
          font-size: 13px;

          i{
            color: $main-light-color;
            font-size: 8px;
            margin-left: 4px;
          }
        }
      }

      .logo{
        font-size: 40px;
        font-family: 'PT Sans Narrow', sans-serif;
      }
    }
    // header bottom -----------------------------
  }
}
// -------------------------------------------------------

// JUMBOTRON ---------------------------------------------
.jumbotron{
  background-image: url($jumbotron-back);
  background-size: contain;
  width: 1518px;
  height: 430px;
  margin: 0 auto;
  position: relative;

  &-container{
    width: 1300px;
    margin: 0 auto;

    .box-left, .box-right{
      display: inline-block;
    }

    .box-left{
      width: 300px;
      left: 500px;
      position: absolute;
      top: 50px;
      color: $main-medium-color;

      &-title{
        font-size: 22px;
        padding-bottom: 5px;

        span:first-child{
          color: $secondary-color;
          font-style: oblique;
          margin-right: 5px;
        }

      }

      &-links{
        margin-top: 20px;

        a{
          color: $main-medium-color;
          font-size: 14px;
        }

      }

      i{
        color: $main-light-color;
        font-size: 10px;
      }

      .download-button{
        margin-top: 30px;
        padding: 0 8px;
        border: 2px solid $main-medium-color;
        font-size: 12px;

        div{
          display: inline-block;
          padding: 5px;
        }

        &-left{
          text-align: left;
        }

        &-right{
          margin-left: 10px;

          i{
            font-size: 20px;
            color: $main-medium-color;
          }
        }
      }
    }

    .box-right{
      width: 350px;
      height: calc(100% - 40px);
      position: absolute;
      top: 40px;
      right: 270px;
      background-color: $main-dark-color;
      padding: 40px 0 0 15px;
      font-size: 10px;
      color: $main-light-color;

      .price{
        font-size: 20px;
        padding-bottom: 5px;
      }

      img{
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .buy-button{
        background: $icons-button-color;
        border: none;
        font-size: 12px;
        padding: 8px 20px;
        margin-top: 15px;
      }
    }
  }
}
// -------------------------------------------------------

// SECOND NAV --------------------------------------------
.second-navbar{
  background: #e6e6e6;
  height: 50px;
  text-align: center;

  &-link{
    display: inline-block;
    padding: 15px 10px;

    a{
      color: $main-medium-color;
    }

  }

  &-link:hover{
    background: #eeeeee;
  }
}
// -------------------------------------------------------

// DIGITAL ART -------------------------------------------
.digital-art{

  &-top{
    height: 200px;
    background-image: url($digital-art-back);
    text-align: center;
    padding-top: 100px;

    &-content{
      margin: 10px 300px;
    }

  }

  &-video{
    width: 1500px;
    height: 440px;
    margin: 0 auto;
    background-image: url($digital-art-video-back);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    &-button{
      @include center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);

      i{
        @include center;
        font-size: 50px;
        color: $secondary-color;
      }

      &:hover i{
        color: #fff;
      }
    }
  }

  &-bottom{
    display: flex;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-image: url($digital-art-bottom-back);
    background-repeat: no-repeat;
    background-size: contain;

    &-box{
      text-align: center;
      width: 297px;
      margin-top: 50px;
      padding: 0 20px;

      img{
        width: 160px;
        margin-bottom: 20px;
      }

      p{
        margin-top: 15px;
      }
    }
  }
}
// -------------------------------------------------------
