*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

$main-color: #101010;
$icons-color: #009cff;

body{
  font-family: 'Roboto', sans-serif;
}

header{

  width: 100%;
  height: 100px;
  background: $main-color;

  .header-container{

    width: 1000px;
    height: 100%;
    margin: 0 auto;

    &-top{

      text-align: right;
      padding: 10px;

      a{
        color: #989898;
        padding: 0 10px;
        font-size: 10px;

        i{
          color: $icons-color;
          margin-right: 3px;
          font-size: 12px;
        }

      }

      select{
        font-size: 12px;
      }

    }

    &-bottom{

      padding: 5px 0 10px 0;

      span{

        a{
          color: #fff;
          margin-right: 25px;
          font-size: 13px;

          i{
            color: #989898;
            font-size: 8px;
          }

        }

      }

      .logo{
        font-size: 40px;
        font-family: 'PT Sans Narrow', sans-serif;
      }
    }

  }

}

.jumbotron{

  background-image: url("../backgrounds/back.jpg");
  background-size: contain;
  width: 100%;
  height: 430px;
  position: relative;

  &-container{

    width: 1300px;
    height: 100%;
    margin: 0 auto;

    .box-left, .box-right{
      display: inline-block;
    }

    .box-left{

      width: 300px;
      left: 500px;
      position: absolute;
      top: 50px;
      color: #333333;

      &-title{

        font-size: 22px;
        padding-bottom: 5px;

        span:first-child{
          color: #bc54be;
          font-style: oblique;
          margin-right: 5px;
        }

      }

      &-links{

        margin-top: 20px;

        a{
          color: #333333;
          font-size: 14px;
        }

      }

      i{
        color: #989898;
        font-size: 10px;
      }

      .download-button{

        margin-top: 30px;
        padding: 0 8px;
        border: 2px solid #333333;
        font-size: 12px;

        div{
          display: inline-block;
          padding: 5px;
        }

        &-left{
          text-align: left;
        }

        &-right{

          margin-left: 10px;

          i{
            font-size: 20px;
            color: #333333;
          }
        }

      }

    }

    .box-right{

      width: 350px;
      height: calc(100% - 40px);
      position: absolute;
      top: 40px;
      right: 270px;
      background-color: $main-color;
      padding: 40px 0 0 15px;
      font-size: 10px;
      color: #989898;

      .price{
        color: #fff;
        font-size: 20px;
        padding-bottom: 5px;
      }

      img{
        position: absolute;
        top: 15px;
        right: 15px;
      }

      .buy-button{
        background: $icons-color;
        border: none;
        font-size: 12px;
        padding: 8px 20px;
        margin-top: 15px;
        color: #fff;
      }

    }

  }

}

.second-navbar{

  background: #e6e6e6;
  width: 100%;
  height: 50px;
  text-align: center;

  &-link{
    display: inline-block;
    padding: 15px 10px;

    a{
      color: #333333;
    }

  }

  &-link:hover{
    background: #eeeeee;
  }

}






















//
